html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-right:10px;
}

footer > p {
    margin-bottom: 8px;
    text-align: center;
}

#container{
    overflow: auto;
}

#floated{
    float: left;
    width: 210px;
}

/* used https://www.w3schools.com/howto/howto_css_two_columns.asp for columns*/
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: black;
}

ul li {
    margin-bottom: 15px;
}

.bigmargins {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.spacedlines {
    line-height: 2;
}

/* Bottom left text */
/*.bottom {
  position: absolute;
  bottom: 40%;
  left: 10;
  color: white;
  text-align: center;
}*/

/*footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 60;
    padding-top: 40;
    background-color: black;
}

footer > p {
    margin-left: 50;
}

footer > a {
    margin-left: 50;
    margin-bottom: 10;
}
*/
strong {
    font-size: large;
}

.red {
    color: red;
}

/* ALL h2s will have no bottom margins*/
h2 {
    margin-bottom: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner > img {
    padding-top: 92;
    max-width: 100vw;
}

.banner > p {
    padding: 0px 32px;
    font-size: smaller;
    color: gray;
}

.afterimg {
    margin-top: 8px;
}

/* css related to the navbar. see licence in index.html*/

.nav-container {
    position: fixed;
    display: grid; /*hacky way to get it to work as a block with the underlying positions*/
    width: 100%;
}

.navBar{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 14px 16px;
}

/*
.navBar u1{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;   
}

.navBar li{
    float: left;
}*/
  
/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
/*.navBar a {
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gabarito', sans-serif;
}

/*Background color change during hover state*/

.navBar a:hover{
    /*background-color: white;
    color: #009cde;*/
    background-color: #ddd;
    color: black;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon{
    display: none;
}

.dropdown button {
    background-color: white;
    color: gray;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Gabarito', sans-serif;
}

.dropdown a{
    display: block;
    color: gray;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Gabarito', sans-serif;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    color: #009cde;
    text-decoration: underline;
}

.bottom-container {
    display: grid;
}

.bottom-nav u1 {
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px;
}

.bottom-nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
}

.bottom-nav a:hover {
    text-decoration: underline;
}

/* some stuff under here from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
and some from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp

/* The "responsive" class is added to the navBar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navBar.responsive {position: relative;}
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .bigmargins {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    }
}

/*Set your custom screen width here replacing 700*/
@media screen and (max-width: 700px){
    /*.navBar {
        justify-content: space-between;
    }*/
    /* Style the navigation menu */
    /*.navBar {
      overflow: hidden;
      position: relative;
    }*/
    /* Add a grey background color on mouse-over
    .navBar a:hover {
      background-color: #ddd;
      color: black;
    }*/
    /* Style navigation menu links */
    .navBar a {
      text-decoration: none;
      font-size: 20px; /* size of icon */
      display: block;
    }
    /*Ignores the first link (which is Home) in the div and applies 'display = none' to everything else. Basically hiding everything but Home*/
    .dropdown {
        display: none;
    }
    /*.navBar a:not(:first-child){
        display: none;
    }*/
    /*Brings the menu icon into view and floats it to the right*/
    .navBar a.icon{
        display: block; 
        float: right;
        position: absolute;
        right: 4;
        top: 20;
        padding: 14px 16px;
    }

    /*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
    .navBar.responsive {
        position: relative;
        flex-direction: column;
        align-items: start;
        .dropdown {
            display: block;
        }
    }
    .navBar.responsive a.icon {
        position: absolute;
        right: 4;
        top: 20;
    }

    /*Removes the originally set float and brings them to view*/
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .content {
        padding: 0px 64px;
    }
}

.content {
    padding: 0px 16px;
}